* {
  font-family: 'Arial', serif;
  box-sizing: border-box; }

html {
  display: block;
  height: 100%;
  width: 100%; }

body {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  max-width: none;
  margin: 0;
  color: #dfdddf;
  background-color: #000;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center top; }

a {
  color: #dfdddf;
  text-decoration: none;
  border-bottom: 1px solid #dfdddf; }
a:hover {
  color: #d6d4d6;
  border-color: #d6d4d6; }
a:active {
  color: #cccacc;
  border-color: #cccacc; }

#header,
#content,
#footer,
#navigation {
  position: relative;
  width: auto;
  max-width: 1000px;
  margin: 0 auto;
  padding: 1.5em 2em; }
@media (max-width: 1000px) {
  #header,
  #content,
  #footer,
  #navigation {
    margin-left: 50px;
    margin-right: 50px; } }

#header {
  margin-top: 30px;
  border-top-left-radius: .5em;
  border-top-right-radius: .5em; }
#header > #site-logo {
  display: block;
  max-width: 600px;
  margin: 0 auto;
  border: none; }
#header > #site-logo img {
  width: 100%; }

#contact {
  position: absolute;
  top: -30px;
  right: 0;
  padding: .5em 1em;
  background-color: #222;
  border-bottom-left-radius: .5em;
  border-bottom-right-radius: .5em;
  letter-spacing: 1px; }
#contact span {
  padding-right: .5em; }
#contact a {
  padding: 0 .25em;
  border-bottom: none; }

#navigation {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  background-color: #222;
  padding: 0;
  border-top-left-radius: .5em;
  border-top-right-radius: .5em;
  overflow: hidden; }
#navigation li {
  display: block;
  width: 100%;
  list-style: none;
  border: 1px solid #181818; }
#navigation li:first-of-type {
  border-top-left-radius: .5em;
}
#navigation li.current_page_item a {
  background: #363636; }
#navigation li a {
  display: block;
  padding: .5em 0;
  background: #222;
  color: #ccc;
  border: none;
  font-size: 1.1em;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase; }
#navigation li a:hover, #navigation li a:visited {
  color: #ccc; }
#navigation li:hover a {
  background: #181818; }

> .page_item {
  display: block;
  list-style: none; }
> .page_item > a {
  border: none; }

#content {
  background-color: #222;
  line-height: 150%;
  text-align: justify;
  border-bottom-left-radius: .5em;
  border-bottom-right-radius: .5em; }
#content > .post {
  padding: .5em 0; }
#content > .post:not(:first-of-type) {
  border-top: 1px solid #888; }
#content > .post:not(:last-of-type) {
  border-bottom: 1px solid #888; }
#content > .post > h2 {
  margin: 0; }
#content > .post > h2,
#content > .post > h2 > a {
  border: none;
  color: #ccc; }
#content > .post > h5 {
  font-weight: 300;
  margin: .5em 0; }
#content > .post > h5 > a {
  border: none; }
#content > .post .title {
  margin-bottom: 1em; }
#content > .post .nocomments,
#content > .post .details {
  display: none; }
#content > #archives-page h2 {
  margin: .1em 0;
  font-size: 1em; }
#content > #archives-page #category-archives, #content > #archives-page #monthly-archives {
  margin-bottom: 1em; }
#content > #archives-page li {
  list-style: none; }
#content > #archives-page a {
  border: none; }

#respond {
  padding: .5em 1.5em;
  font-size: .7em;
  border: 1px solid #ccc;
  background-color: #dddddd; }
#respond > form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  align-content: flex-start; }
#respond > form .comment-notes {
  flex-basis: 100%; }
#respond > form .comment-form-comment {
  flex-basis: 100%; }
#respond > form .comment-form-comment > label,
#respond > form .comment-form-comment > textarea {
  vertical-align: top;
  width: 100%; }
#respond > form .comment-form-comment > textarea {
  width: calc(100% - 6px);
  border-width: 1px;
  padding: 2px; }
#respond > form .comment-form-author,
#respond > form .comment-form-email,
#respond > form .comment-form-url {
  flex-basis: 30%; }
#respond > form .comment-form-author > label,
#respond > form .comment-form-author > input,
#respond > form .comment-form-email > label,
#respond > form .comment-form-email > input,
#respond > form .comment-form-url > label,
#respond > form .comment-form-url > input {
  width: 100%;
  width: calc(100% - 8px);
  padding: 2px;
  border-width: 2px; }

.commentlist {
  border: 1px solid #ccc;
  background: #dddddd;
  list-style: none; }
.commentlist li, .commentlist ol {
  list-style: none; }
.commentlist .comment {
  margin: 1em 0; }
.commentlist .comment > .comment-body {
  padding-right: 1em; }
.commentlist .comment > .comment-body > .comment-author > img {
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  border-radius: 50%; }
.commentlist .comment > .comment-body > .comment-awaiting-moderation {
  float: right; }

#footer {
  text-align: center;
  color: #fff;
  background-color: transparent; }
#footer a {
  color: #fff; }

.wpsisac-slick-slider button.slick-arrow {
  background-color: transparent !important; }
.wpsisac-slick-slider .slick-image-slide img {
  width: 100%; }

.ngg-album-desc {
  color: #fff; }

.slideshowlink {
  display: none; }

.email-popup {
  display: none;
  position: absolute;
  top: 2em;
  padding: .5em;
  background-color: #222;
  border-radius: 3px; }
.email-popup a {
  color: #fff;
  border-color: #fff; }

.carousal {
  position: relative;
  height: 500px;
  margin: -24px -32px 30px;
  overflow: hidden;
}

.carousal > .images {
  height: 100%;
  width: 100%;
  z-index: 1;
}

.carousal > .images > .image {
  display: none;
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
}

.carousal > .images > .image:first-of-type {
  display: block;
}

.carousal > .controls {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  box-shadow: inset 0 0 20px 5px rgba(0, 0, 0, 1);
  z-index: 100;
}

.carousal > .controls .previous,
.carousal > .controls .next {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 80px;
  background: rgba(0, 0, 0, .3);
  opacity: 0;
  cursor: pointer;
  transition: opacity 200ms;
}

.carousal > .controls .previous {
  left: 0;
}

.carousal > .controls .next {
  right: 0;
}

.carousal > .controls:hover .next,
.carousal > .controls:hover .previous {
  opacity: 1;
}

.carousal > .controls .previous::after,
.carousal > .controls .next::after {
  content: '';
  position: absolute;
  top: calc(50% - 50px);
  height: 0;
  width: 0;
  border-top: 50px solid transparent;
  border-bottom: 50px solid transparent;
}

.carousal > .controls .previous::after {
  left: 20px;
  border-right: 30px solid rgba(255, 255, 255, .5);
}

.carousal > .controls .next::after {
  right: 20px;
  border-left: 30px solid rgba(255, 255, 255, .5);
}

.carousal > .controls > .image-shortcuts {
  position: absolute;
  bottom: 0;
  width: 100%;
  margin: 0 auto;
  padding: 10px 0;
  text-align: center;
  opacity: 0;
  cursor: default;
  user-select: none;
  transition: opacity 200ms;
}

.carousal > .controls:hover > .image-shortcuts {
  opacity: 1;
}

.carousal > .controls > .image-shortcuts > .image-shortcut {
  display: inline-block;
  height: 5px;
  width: 20px;
  margin: 0 5px;
  cursor: pointer;
  background: rgba(0, 0, 0, .7);
  border: 1px solid rgba(255, 255, 255, .3);
}

.carousal > .controls > .image-shortcuts > .image-shortcut.selected {
  background: rgba(101, 153, 255, 0.7);
}

.carousal > .controls > .image-shortcuts > .image-shortcut:hover {
  background: rgba(255, 255, 255, .7);
}

.folder {
  display: block;
  border-top: 1px solid rgba(255, 255, 255, .2);
  border-bottom: 1px solid rgba(255, 255, 255, .2);
}

.folder .title {
  display: block;
  position: relative;
  padding: 10px 15px;
  font-size: 120%;
  font-weight: bold;
  cursor: pointer;
}

.folder .title:hover {
  background-color: rgba(255, 255, 255, .1);
}

.folder .title::after {
  content: '';
  display: block;
  position: absolute;
  width: 0;
  right: 25px;
  top: 25px;
  border-top: 20px solid rgba(255, 255, 255, .2);
  border-bottom: 0;
  border-right: 20px solid transparent;
  border-left: 20px solid transparent;
}

.folder .title > .preview {
  display: inline-block;
  width: 90px;
  height: 50px;
  margin-right: 20px;
  vertical-align: middle;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 2px 3px 2px rgba(0, 0, 0, 0.3);
}

.folder .images {
  display: none;
}

.folder.expanded .images {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: flex-start;
  padding: 15px 20px;
  background-color: rgba(255, 255, 255, .02);
  box-shadow: inset 0 2px 10px rgba(0, 0, 0, 0.4);
}

.folder.expanded .title::after {
  right: 25px;
  top: 25px;
  border-top: 0;
  border-bottom: 20px solid rgba(255, 255, 255, .2);
  border-right: 20px solid transparent;
  border-left: 20px solid transparent;
}

.folder .images .image {
  flex: 1 0 auto;
  width: auto;
  padding: 10px;
  text-align: center;
  cursor: pointer;
}

.folder .images .image img {
  display: inline-block;
  height: 200px;
  width: auto;
  box-shadow: 4px 6px 6px rgba(0, 0, 0, 0.5);
  transition: box-shadow 250ms;
}

.folder .images .image:hover img {
  box-shadow: 3px 4px 0 rgba(0, 0, 0, 0.5);
}

.folder .images .image .caption {
  max-width: 130px;
  margin: 0 auto;
  text-align: center;
  color: rgb(144, 143, 152);
}

.links .link {
  margin-bottom: 10px;
}

.links .image {
  display: inline-block;
  width: 90px;
  height: 50px;
  margin-left: 15px;
  margin-right: 20px;
  vertical-align: middle;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 2px 3px 2px rgba(0, 0, 0, 0.3);
}

.demoReels {
  margin: -30px auto;
}

.demoReels iframe {
  display: block;
  margin: 30px auto;
}

#modal-overlay {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, .7);
  z-index: 10000;
}

#modal-overlay.active {
  display: block;
}

#modal-content {
  display: block;
  position: relative;
  margin: 100px auto;
  width: 80%;
}

#modal-content .image-modal {
  display: block;
  width: 80%;
  max-height: 100%;
  height: auto;
  margin: 0 auto;
  box-shadow: 4px 6px 6px rgba(0, 0, 0, 0.5);
}

.event-map {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: stretch;
  align-content: flex-start;
  position: relative;
  height: 800px;
  margin: -23px -32px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}

.event-map > .events {
  flex: 1 0 auto;
  height: 100%;
  max-height: 100%;
  width: 300px;
  background: #222;
  overflow: scroll;
  box-shadow: 2px 0 rgba(0, 0, 0, 0.4);
  z-index: 2;
}

.event-map > .events .event {
  font-size: 13px;
  color: #a7a6a7;
  background-color: #222;
  line-height: 1.2em;
  text-align: left;
  cursor: pointer;
  transition: background-color 250ms;
}

.event-map > .events .event .event-content {
  padding: 12px 15px;
}

.event-map > .events .event.selected {
  background-color: #333;
}

.event-map > .events .event:not(:last-of-type) {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.event-map > .events .event:hover {
  background: rgba(255, 255, 255, 0.2);
}

.event-map > .events .event .name {
  color: #bfbebf;
  font-weight: bold;
}

.event-map > .events .event .date {
  font-weight: normal;
  color: #686768;
}

.event-map > .events .event .location {
  color: #807f80;
}

.event-map > .map {
  flex: 1 1 auto;
  height: 100%;
  width: 100%;
  z-index: 1;
}

.event-map > .map .leaflet-popup-content {
  min-width: 250px;
  color: #111;
}

.event-map > .map .location-name {
  margin-top: 7px;
  text-align: right;
  color: #807f80;
}

.event-map > .map .event .type {
  color: #666;
}

.event-map > .controls {
  position: absolute;
  top: 10px;
  right: 10px;
  height: 30px;
  width: 30px;
  padding: 6px 5px;
  font-size: 18px;
  border-radius: 50%;
  background: #ffffff;
  color: #555;
  box-shadow: 0 1px 5px rgba(0,0,0,0.65);
  text-align: center;
  z-index: 1;
  cursor: pointer;
}

.event-map > .controls:hover {
  background: #f4f4f4;
}

.event-map > .controls-modal {
  display: none;
  position: absolute;
  top: 50px;
  right: 100px;
  left: 400px;
  padding: 10px 25px;
  border-radius: 10px;
  background: #ffffff;
  color: #000;
  box-shadow: 0 1px 5px rgba(0,0,0,0.65);
  text-align: left;
  z-index: 1;
}
