<%
  image = Struct.new(:caption, :path)
  folders = {
      Posters:
          [image.new('Bolt', resource_url('albums/posters/bolt.jpg')),
           image.new('Dinosaur', resource_url('albums/posters/dinosaur.jpg')),
           image.new('Gumby', resource_url('albums/posters/gumby.jpg')),
           image.new('James and the Giant Peach', resource_url('albums/posters/james_and_the_giant_peach.jpg')),
           image.new('The Nightmare Before Christmas', resource_url('albums/posters/nightmare.jpg')),
           image.new('Pillsbury Doughboy', resource_url('albums/posters/pillsbury.jpg')),
           image.new('Pixar', resource_url('albums/posters/pixar.jpg')),
           image.new('Meet the Robinsons', resource_url('albums/posters/robinsons.jpg'))],
      'What Happened':
          [image.new('', resource_url('albums/what_happened/WH-film-still-1.jpeg')),
           image.new('', resource_url('albums/what_happened/WH-film-still-2.jpeg')),
           image.new('', resource_url('albums/what_happened/WH-film-still-3.jpeg')),
           image.new('', resource_url('albums/what_happened/WH-film-still-4.jpeg')),
           image.new('', resource_url('albums/what_happened/WH-film-still-5.jpeg')),
           image.new('', resource_url('albums/what_happened/WH-film-still-6.jpeg')),
           image.new('', resource_url('albums/what_happened/WH-film-still-7.jpeg')),
           image.new('', resource_url('albums/what_happened/WH-film-still-8.jpeg')),
           image.new('', resource_url('albums/what_happened/WH-film-still-9.jpeg')),
           image.new('', resource_url('albums/what_happened/WH-film-still-10.jpeg')),
           image.new('', resource_url('albums/what_happened/WH-film-still-11.jpeg')),
           image.new('', resource_url('albums/what_happened/WH-film-still-12.jpeg')),
           image.new('', resource_url('albums/what_happened/WH-film-still-13.jpeg')),
           image.new('', resource_url('albums/what_happened/WH-film-still-14.jpeg')),
           image.new('', resource_url('albums/what_happened/WH-film-still-15.jpeg')),
           image.new('', resource_url('albums/what_happened/WH-film-still-16.jpeg'))]
  }
%>

<h1>Images</h1>
<% folders.each do |name, images| %>
  <div class="folder">
    <div class="title">
      <div class="preview"></div>
      <%= name %>
    </div>
    <div class="images">
      <% images.each do |image| %>
        <div class="image">
          <img src="<%= image.path %>" alt="<%= image.caption %>" />
          <div class="caption"><%= image.caption %></div>
        </div>
      <% end %>
    </div>
  </div>
<% end %>


<h1>Links</h1>
<ul>
  <li>
    <a href='https://www.imdb.com/name/nm0069802/' target="_blank">IMDB Mike Belzer</a>
  </li>
  <li>
    <a href='https://www.facebook.com/FloatingStoneProductions/videos/10156479968773901/' target="_blank">Documentary</a>
  </li>
</ul>


